page-home {

.my-item {
   max-height: 3px;
        
    }
.My_button{
    text-transform: none;
    background-color: rgb(89, 235, 104);
    color: black;
}
.item-inner, ion-item {
    border-bottom-color: rgb(89, 235, 104) !important;
    box-shadow: none !important;
     
  }

}

/******************************************android********************************/
.alertCustom.alert-md.alert-wrapper{
border-radius: 25px;
height: 150px;
}
.my-segment.segment-button.segment-activated{
        color:rgb(51, 141, 35);
        font-size: 16px;
        border-color: #48ff76;
}
.ion-segment-button.my-segment.segment-md.segment-button{
    color:rgb(51, 141, 35);
    font-size: 16px;
    border-color: #48ff76;
}
.segment-md.segment-button {
    color: #0fa735;
}

.MyToast{
    > div{
        background-color:white!important;
    }
}
.alertCustom{
    > div{
        border-radius: 25px;
        height: 150px;
    }
}
/******************************************ios********************************/