<ion-header>
  <ion-navbar>
    <ion-title>
        <img src="./assets/Iscar-logo.jpg" width="100px" />
        Optimization machining noise
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="has-header">
    <div padding>
        <ion-segment [(ngModel)]="categories">
            <ion-segment-button value='home' class="my-segment">
            <ion-icon name="home"></ion-icon>
            Home
            </ion-segment-button>
          <ion-segment-button value='setting' class="my-segment">
            <ion-icon name="settings" md="md-settings"></ion-icon>
            Setting
            </ion-segment-button>
        </ion-segment>
        </div>
                
       
        <div [ngSwitch]="categories">
        <ion-list *ngSwitchCase="'home'" >
        <form [formGroup]="InputForm" class="form-inline">
            <ion-list class="my-ion-list">
                <ion-item>
                    <ion-label class="labelC">Tool diameter :</ion-label>
                    <ion-input class="inputC" type="number"  formControlName="Tool_diameter"></ion-input>
                    <ion-note item-end>(mm)</ion-note>
                </ion-item>
        
                <ion-item>
                    <ion-label class="labelC" >Max. spindle rpm :</ion-label>
                    <ion-input class="inputC" type="number" formControlName="Max_spindle_rpm"></ion-input>
                    <ion-note item-end>(rpm)</ion-note>
                </ion-item>
        
                <ion-item>
                    <ion-label  class="labelC">Max. insert Vc :</ion-label>
                    <ion-input  class="inputC" type="number" formControlName="Max_insert_vc"></ion-input>
                    <ion-note item-end>(m/min)</ion-note>
                </ion-item>
        
                <ion-item>
                    <ion-label   class="labelC" >Min insert Vc :</ion-label>
                    <ion-input class="inputC" type="number" formControlName="Min_insert_vc"></ion-input>
                    <ion-note item-end>(m/min)</ion-note>
                </ion-item>
        
                <ion-item>
                    <ion-label   class="labelC" >Spindle speed :</ion-label>
                    <ion-input  class="inputC" type="number" formControlName="Spindle_speed"></ion-input>
                    <ion-note item-end>(rpm)</ion-note>
                </ion-item>
        
                <ion-item>
                    <ion-label   class="labelC" >Number of teeth :</ion-label>
                    <ion-input  class="inputC" type="number" formControlName="Number_of_teeth"></ion-input>
                </ion-item>
        
            </ion-list>
        </form>
        
        
        <button class="My_button" ion-button icon-left  style="width: 42%;" (click)="Record_background()" round [style.color] = "recording_B ? 'red' : 'black' "><ion-icon name="mic"></ion-icon>Record (background)</button>        
        <button class="My_button" ion-button icon-right  style="width: 54%; float: right" (click)="Rrcord_During_machining()" round [style.color] = "recording_M ? 'red' : 'black' "><ion-icon name="mic"></ion-icon>&nbsp;Record (during machining)</button>            
        <button class="My_button" ion-button icon-left  style="width: 42%;" (click)="calc_chart_noise()"  round> Plot time series</button>
        <button class="My_button" ion-button icon-right  style="width: 54%; float: right" (click)="calc_chart_fft()"  round> Plot frequency spectrum</button>
        <button class="My_button" ion-button full  (click)="calc_optimum()"  round> Get recommended spindle rpm </button>
   

        <div [style.display] ="calcOp ? '':'none' ">
            <ion-card style=" box-shadow: 2px 2px 3px 3px rgb(164, 235, 153) ">
                <ion-card-header>
                    <h1><b>The optimum values:</b></h1>
                </ion-card-header>
                <ion-card-content>
                        <ion-grid>
                                <ion-row>
                                  <ion-col>
                                        <b >Spindle speed:(rpm)</b> 
                                        <p *ngFor="let el of this.optimum_n index as i; first as isFirst " >{{this.optimum_nt[i] | number:'.0-0'}} </p>
                                  </ion-col>
                                  <ion-col>
                                        <b >Cutting speed:(m/min)</b>
                                        <p *ngFor="let el of this.optimum_Vc index as i; first as isFirst">{{this.optimum_Vct[i]  | number:'.0-0'}} </p>
                                  </ion-col>
                                </ion-row>
                        </ion-grid>
                    
                    
                </ion-card-content>
            </ion-card>
        </div>
        
        <div  [style.display] ="calcCHn ? '':'none' " style="margin-left: 5px;" >   
            <div id="container1" style="display: block; "></div>   
        </div>

        <div  [style.display] ="calcCHf ? '':'none' " style="margin-left: 5px;" >   
            <div id="container2" style="display: block;">  </div>  
        </div>
    </ion-list>

    <ion-list *ngSwitchCase='"setting"' >
      <form [formGroup]="InputFormSet" class="form-inline">
         <ion-list>
            <ion-item style="border-bottom-color: rgb(89, 235, 104);">
                <ion-label  class="labelC">Sample rate (HZ):</ion-label>
                <ion-input [value]="this.fs" text-right readonly></ion-input>
            </ion-item>
            <!--<ion-item>
                <ion-label >time for recording:</ion-label>
                <ion-select formControlName="Tf" [(ngModel)]="this.Tf" >
                    <ion-option value={{t1}}>{{t1}}</ion-option>
                    <ion-option value={{t2}}>{{t2}}</ion-option>
                    <ion-option value={{t3}}>{{t3}}</ion-option>
                    <ion-option value={{t4}}>{{t4}}</ion-option>
                </ion-select>
            </ion-item>
        -->
            <ion-item> 
                <label class="labelC">time for recording (sec):</label>
                <select formControlName="Tf" [(ngModel)]="this.Tf" style="float: right ; border-color:white; background-color:white" >
                    <option value={{t1}}>{{t1}}</option>
                    <option value={{t2}}>{{t2}}</option>
                    <option value={{t3}}>{{t3}}</option>
                    <option value={{t4}}>{{t4}}</option>
                </select>
            </ion-item>
            <ion-item>
                <ion-label  class="labelC">SNR thredhold :</ion-label>
                <ion-input type="number"  formControlName="SNR_thredhold" text-right></ion-input>
            </ion-item>
    
            <ion-item>
                <ion-label  class="labelC">RPM error:</ion-label>
                <ion-input  type="number"  formControlName="n_Err" text-right ></ion-input>
                <ion-note item-end style="color:black; margin-left:0%">%</ion-note>
            </ion-item>
        
            </ion-list> 
        </form>
        </ion-list>
    </div>
    
</ion-content>
