page-home {
.labelC { float: left; width: 10em; margin-right: -15px; text-align: left; color:#999}


.My_button{
    text-transform: none;
    font-size: 12px;
    
    background-color: rgb(89, 235, 104);
    color: black;
}
.item-inner, ion-item {
    border-bottom-color: rgb(89, 235, 104) !important;
    box-shadow: none !important;
     
  }

}

.my-segment.segment-button.segment-activated{
        color:rgb(51, 141, 35);
        font-size: 16px;
        border-color: #48ff76;
        background-color: white;
}

.MyToast{
    > div{
        background-color:white!important;
       
    }
}
.alertCustom{
    > div{
        border-radius: 25px;
        height: 150px;
    }
}

/******************************************android********************************/
.alertCustom.alert-md.alert-wrapper{
border-radius: 25px;
height: 150px;
}

.ion-segment-button.my-segment.segment-md.segment-button{
    color:rgb(51, 141, 35);
    font-size: 16px;
    border-color: #48ff76;
}
.segment-md.segment-button {
    color: #0fa735;
}


/******************************************ios********************************/
.alertCustom.alert-ios.alert-wrapper{
    border-radius: 25px;
    height: 150px;
    }
    .segment-md.segment-button{
        color:rgb(51, 141, 35);
        
    }
    .segment-ios.segment-button {
        color: #0fa735;
    }
    
 